<div class="container">
    <h1 class="logo">hack<br>happiness</h1>
</div>
<div class="container">
    <div class="col-md-7 col-sm-7 row text-face">
        {{::homeText.landing}}
    </div>
    <div class="col-md-5 col-sm-5 row">
        <img src="./statics/images/logo_face.png" class="smile">
    </div>
</div>
<div class="container space about_zone">
    <div class="col-md-3 col-sm-3 sub-head-image">
        <img ng-src="./statics/images/{{::homeText.subHead.icon}}">
    </div>
    <div class="col-md-9 col-sm-9">
        <h2 class="title fix">{{::homeText.subHead.title}}</h2>
        <span>{{::homeText.subHead.text}}</span>
    </div>
</div>
<div class="container space events_zone">
    <h2 class="title">Events</h2>

    <div class="event" ng-repeat="event in events.event">
        <div class="date">
            <span>{{::event.date}}</span>
        </div>
        <div class="content">
            <h3 class="title">{{::event.title}}</h3>
            <span class="location">{{::event.location}}</span>

            <p class="description">{{::event.description}}</p>
            <a ng-href="{{::event.url}}" target="_blank">{{::event.url_title}}</a>
        </div>
    </div>
</div>

<div class="container space people people_zone">
    <h2 class="title">{{::homeText.people.title}}</h2>
    <span>{{::homeText.people.text}}</span>

    <div class="col-md-3 col-sm-3 person col-sx-3" ng-repeat="person in people.person">
        <div class="avatar" style="background-image:url(./statics/images/people/{{::person.avatar}})">
            <div class="avatar-space"></div>
        </div>
        <h3>{{::person.name}}</h3>
        <a class="btn btn-info" target="_blank" ng-href="https://twitter.com/{{::person.twitter}}"><i
                class="fa fa-twitter"></i> @{{::person.twitter}}</a>
    </div>
</div>


<div class="container begin begin_zone">
    <h2 class="title">{{::homeText.beginning.title}}</h2>
    <span>{{::homeText.beginning.text}}</span>

    <div class="embed-responsive embed-responsive-16by9">
        <youtube-video class="embed-responsive-item" video-id="webvisionVideo"></youtube-video>
    </div>

</div>