@font-face {
  font-family: 'hooge';
  src: url("../fonts/hoog0655-webfont.eot");
  src: url("../fonts/hoog0655-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hoog0655-webfont.woff2") format("woff2"), url("../fonts/hoog0655-webfont.woff") format("woff"), url("../fonts/hoog0655-webfont.ttf") format("truetype"), url("../fonts/hoog0655-webfont.svg#hooge_06_55regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/general.scss */
.font-smoothing, footer .logo {
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 1, ../../features/common/styles/_header.scss */
.navbar {
  background: black;
  min-height: 40px;
  height: 40px;
  margin-bottom: 0;
}
/* line 9, ../../features/common/styles/_header.scss */
.navbar ul.navbar-nav li a {
  padding: 10px 15px;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 17, ../../features/common/styles/_header.scss */
.navbar ul.navbar-nav li a:hover {
  background: white;
  color: black;
}
/* line 25, ../../features/common/styles/_header.scss */
.navbar .navbar-header a {
  padding: 10px 15px;
  height: auto;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-family: hooge;
}
/* line 32, ../../features/common/styles/_header.scss */
.navbar .navbar-header a:hover {
  color: #F2E841;
}

/* line 1, ../../features/common/styles/_footer.scss */
footer {
  background: #0B0C0A;
}
/* line 4, ../../features/common/styles/_footer.scss */
footer .sponsored h3 {
  color: white;
  margin-bottom: 0;
  font-weight: 100;
}
@media (max-width: 600px) {
  /* line 4, ../../features/common/styles/_footer.scss */
  footer .sponsored h3 {
    text-align: center;
  }
}
/* line 12, ../../features/common/styles/_footer.scss */
footer .sponsored ul {
  padding: 0;
}
/* line 14, ../../features/common/styles/_footer.scss */
footer .sponsored ul li {
  display: inline-block;
  padding: 20px;
}
@media (max-width: 600px) {
  /* line 14, ../../features/common/styles/_footer.scss */
  footer .sponsored ul li {
    text-align: center;
    display: block;
  }
}
/* line 22, ../../features/common/styles/_footer.scss */
footer .sponsored ul li img {
  max-width: 80px;
  height: auto;
}
@media (max-width: 600px) {
  /* line 22, ../../features/common/styles/_footer.scss */
  footer .sponsored ul li img {
    max-width: 140px;
    height: auto;
    margin-bottom: 30px;
  }
}
/* line 35, ../../features/common/styles/_footer.scss */
footer .logo {
  font-family: hooge;
  margin-bottom: 20px;
  font-size: 35px;
  color: #F2E841;
  text-align: center;
  padding: 70px 0;
}
@media (max-width: 600px) {
  /* line 35, ../../features/common/styles/_footer.scss */
  footer .logo {
    font-size: 27px;
  }
}

/* line 32, ../sass/general.scss */
body {
  margin-top: 40px;
}

/* line 1, ../../features/home/styles/_home.scss */
#home [ng-view] {
  background: #F2E841;
  min-height: 500px;
}
/* line 6, ../../features/home/styles/_home.scss */
#home h1.logo {
  font-size: 16vw;
  font-family: hooge;
  color: black;
}
@media (min-width: 1024px) {
  /* line 6, ../../features/home/styles/_home.scss */
  #home h1.logo {
    font-size: 155px;
  }
}
/* line 15, ../../features/home/styles/_home.scss */
#home h2.title {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
@media (max-width: 600px) {
  /* line 15, ../../features/home/styles/_home.scss */
  #home h2.title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 300;
  }
}
/* line 26, ../../features/home/styles/_home.scss */
#home h2.title.fix {
  margin: 20px -15px;
}
/* line 31, ../../features/home/styles/_home.scss */
#home .container {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
/* line 35, ../../features/home/styles/_home.scss */
#home .container .text-face {
  margin-top: 40px;
  padding-right: 40px;
  font-size: 2vw;
  line-height: 2.7vw;
  padding-top: 8%;
}
@media (max-width: 600px) {
  /* line 35, ../../features/home/styles/_home.scss */
  #home .container .text-face {
    font-size: 18px;
    line-height: 22px;
    padding-right: 15px;
    text-align: justify;
    margin: 20px 0 30px;
  }
}
@media (min-width: 1024px) {
  /* line 35, ../../features/home/styles/_home.scss */
  #home .container .text-face {
    font-size: 25px;
    line-height: 35px;
  }
}
/* line 53, ../../features/home/styles/_home.scss */
#home .container .smile {
  width: 100%;
}
@media (min-width: 1024px) {
  /* line 53, ../../features/home/styles/_home.scss */
  #home .container .smile {
    width: 80%;
    margin-top: 15%;
  }
}
@media (max-width: 600px) {
  /* line 60, ../../features/home/styles/_home.scss */
  #home .container .sub-head-text {
    text-align: justify;
  }
}
/* line 65, ../../features/home/styles/_home.scss */
#home .container .sub-head-image {
  height: 100%;
  margin-top: 25px;
}
/* line 68, ../../features/home/styles/_home.scss */
#home .container .sub-head-image img {
  width: 100%;
}
/* line 74, ../../features/home/styles/_home.scss */
#home .event {
  margin-bottom: 20px;
  overflow: auto;
}
/* line 77, ../../features/home/styles/_home.scss */
#home .event .content {
  float: left;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}
/* line 81, ../../features/home/styles/_home.scss */
#home .event .content h3.title {
  margin: 0;
  font-weight: 300;
}
/* line 85, ../../features/home/styles/_home.scss */
#home .event .content span.location {
  font-style: italic;
}
/* line 89, ../../features/home/styles/_home.scss */
#home .event .content p.description {
  margin-top: 5px;
  line-height: 20px;
}
/* line 94, ../../features/home/styles/_home.scss */
#home .event .content a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
/* line 101, ../../features/home/styles/_home.scss */
#home .event .date {
  width: 100px;
  float: left;
}
/* line 107, ../../features/home/styles/_home.scss */
#home .space {
  margin-top: 30px;
}
/* line 111, ../../features/home/styles/_home.scss */
#home .people {
  padding-bottom: 30px;
}
/* line 113, ../../features/home/styles/_home.scss */
#home .people h3 {
  font-weight: 100;
  text-align: center;
}
@media (max-width: 1025px) and (min-width: 1024px) {
  /* line 113, ../../features/home/styles/_home.scss */
  #home .people h3 {
    font-size: 18px;
  }
}
/* line 120, ../../features/home/styles/_home.scss */
#home .people .person {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1025px) and (min-width: 1024px) {
  /* line 123, ../../features/home/styles/_home.scss */
  #home .people .person .btn-info {
    font-size: 12px;
  }
}
/* line 129, ../../features/home/styles/_home.scss */
#home .people span {
  display: block;
  margin-bottom: 40px;
}
/* line 133, ../../features/home/styles/_home.scss */
#home .people .avatar {
  border-radius: 100%;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 138, ../../features/home/styles/_home.scss */
#home .people .avatar:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 141, ../../features/home/styles/_home.scss */
#home .people .avatar .avatar-space {
  padding: 50%;
}
/* line 147, ../../features/home/styles/_home.scss */
#home .begin {
  padding-bottom: 50px;
}
/* line 149, ../../features/home/styles/_home.scss */
#home .begin span {
  display: block;
}
/* line 152, ../../features/home/styles/_home.scss */
#home .begin .embed-responsive {
  margin: 30px 0;
}
/* line 158, ../../features/home/styles/_home.scss */
#home .about_zone img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 163, ../../features/home/styles/_home.scss */
#home .about_zone:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 41, ../sass/general.scss */
*:not(.fa) {
  font-family: lato, sans-serif;
}

/* line 47, ../sass/general.scss */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

/* line 55, ../sass/general.scss */
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/* line 59, ../sass/general.scss */
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
