[ng-view] {
  background: $yellow;
  min-height: 500px;
}

h1.logo {
  font-size: 16vw;
  font-family: hooge;
  color: black;
}

h2.title {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 2px;
  @media (max-width: 600px) {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 300;
  }
  &.fix {
    margin: 20px -15px;
  }
}

.container {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  .text-face {
    margin-top: 40px;
    padding-right: 40px;
    font-size: 2vw;
    line-height: 2.7vw;
    padding-top: 8%;
    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 22px;
      padding-right: 15px;
      text-align: justify;
      margin: 20px 0 30px;
    }
  }
  .smile {
    width: 100%;
  }
  .sub-head-text {
    @media (max-width: 600px) {
      text-align: justify;
    }
  }
  .sub-head-image {
    height: 100%;
    margin-top: 25px;
    img {
      width: 100%;
    }
  }
}

.event {
  margin-bottom: 20px;
  overflow: auto;
  .content {
    float: left;
    @include calc(width, '100% - 100px');

    h3.title {
      margin: 0;
      font-weight: 300;
    }
    span.location {
      font-style: italic;
    }

    p.description {
      margin-top: 5px;
      line-height: 20px;
    }

    a {
      font-weight: 500;
      color: black;
      text-decoration: none;
    }
  }

  .date {
    width: 100px;
    float: left;
  }
}

.space {
  margin-top: 30px;
}

.people {
  padding-bottom: 30px;
  h3 {
    font-weight: 100;
    text-align: center;
  }
  .person {
    text-align: center;
    margin-bottom: 40px;
  }
  span {
    display: block;
    margin-bottom: 40px;
  }
  .avatar {
    border-radius: 100%;
    background-size: cover;
    .avatar-space {
      padding: 50%;
    }
  }
}
.begin {
  padding-bottom: 50px;
  span {
    display: block;
  }
  .embed-responsive {
    margin: 30px 0;
  }
}